

td{
    border: 1px solid #7b5b5b;
    width: 35px;
    height: 70px;
    font-size: 13px;
    
    /*transform: rotate(-90deg);*/   
    position: relative;
   
}

#cellText
{
  display: block;
  transform: rotate(-90deg);
  font-size: 10px;
  font-weight: bold;
  
}
/*
td:hover #details {
    transform: translateY(70%) scale(1);
  }*/

#details {
    position: absolute;
    top: 0;
    transform: translateY(70%) scale(0);
    transition: transform 0.1s ease-in;
    transform-origin: left;
    display: inline;
    background: white;
    z-index: 20;
    min-width: 100%;
    padding: 1rem;
    border: 1px solid black;
   
  }

tr{
    border-bottom: 1;
   
}


html{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    
}
.container{
    margin-left: 0;  
    
    display: flex;
    height: 100%;
    width: 100%;
    padding: 30px;
    transition: 0.5s;
}

#tab{
    height: 300px; 
    border: 1px solid black;
    margin-left: 20px;
    margin-right: 20px;
    width: auto;
    
}
.rua{
    border: 2px dashed black;
    height: 800px;
    width: 20px;      
    min-width: 20px;
    background-color: lightgray;
}

.torre{
    border: 2px solid black;
    height: 800px;
    width: 30px;  
    min-width: 30px
}

/*Side Bar*/
#toggler{
    display: none;
    position: absolute;
    
}

.sideBar {
    height: 100%;
    width: 0;
    position: absolute;
    top: 0;
    left: 0;   
    overflow-x: hidden;   
    transition: 0.5s;  
    background-color: darkgray;  
    opacity: 0.75; 
  }

  #toggler:checked~.sideBar{
    width: 300px;
    
}
#toggler:checked~.container{
    margin-left: 300px;
    transition: 0.5s;  
}





#eyeButton{
    margin-left: 10px;
    margin-top: 15px;
    position: absolute;
    z-index: 1;
}